body {
    background-color: black;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
}

nav {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    /* margin-top: -10px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 69px;
    border-bottom: 1px solid seashell;
}

nav img {
    height: 50px;
    margin-left: 10px;
}

nav ul {
    margin-right: 10px;
}

nav ul a {
    display: inline-flex;
    justify-content: space-between;
    margin: 0 10px;  
    color: seashell;
}

#Mission {
    height: 700px;
    background-image: url(/resource/img-mission-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1200px;
}

#band {
    background-color: black;
    text-align: center;
    width: inherit;
}

#FeaturedTea {
    width: 1000px;
    display: flex;
    flex-direction: column;
    border: 1px solid red;
}

#FeaturedTea img {
    height: 200px;
    width: 300px;
}

#Locations {
    background-image: url(/resource/img-locations-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box {
    background-color: black;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#Chapter {
    text-align: center;
}

.rows-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.rows-2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.rows-1 h4 {
    margin-top: 10px;
}

.rows-2 h4 {
    margin-top: 10px;
}

