body {
    background-color: black;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
}

nav {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 69px;
    border-bottom: 1px solid seashell;
}

nav img {
    height: 50px;
    margin-left: 10px;
}

nav ul {
    margin-right: 10px;
}

nav ul a {
    display: inline-flex;
    justify-content: space-between;
    margin: 0 10px;  
    color: seashell;
}


main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#Mission {
    height: 700px;
    background-image: url(/resource/img-mission-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1200px;
}

#band {
    background-color: black;
    text-align: center;
    width: inherit;
}

#FeaturedTea {
    width: 1000px;
    display: flex;
    flex-direction: column;
}

#Chapter {
    text-align: center;
}
#FeaturedTea article{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.tea-box{
    margin: 10px;
    line-height: 10px;
}
#FeaturedTea img {
    height: 200px;
    width: 300px;
}


#Locations {
    background-image: url(/resource/img-locations-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 1200px;
    
    text-align:center;
}

#Locations > article{
    display: flex;
    justify-content: center;
    align-content: center;
}

.box {
    width: 300px;
    margin: 40px 15px;
    background-color: black;
    text-align: center;
}
#Locations > article .box:last-child{
    opacity: 1;
}

footer{
    height: 200px;
    text-align: center;
}

footer h5:last-child{
    position: relative;
    left: 20px;
    text-align: left;
}